* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #E5E5E5;
}

.conteiner {
    Width: 375px;
    background-color: #F4F4F4;
    margin: 0 auto;
    margin-top: 100px;
}

header {
    background-color: #1B83E2;
    height: 66px;
}

h1 {

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #F4F4F4;
    text-align: center;
    padding-top: 22px;
}

main {
    padding: 24px;
}

label {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;

}

select {

    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px 0px #00000026;
    margin-top: 6px;
    margin-bottom: 24px;

}

input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px 0px #00000026;
    font-size: 18px;

}

button {
    background: #1B83E2;
    border-radius: 25px;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 48px;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #F4F4F4;
    margin-top: 20px;
    margin-bottom: 24px;
    border: none;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    border: 1px solid #1B83E2;
    border-radius: 4px;
}

.one {

    text-align: center;
    padding: 10px;
}

.moeda {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

.valor {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #1B83E2;
}

.seta {
    display: block;
    margin: 15px auto;
}